/* BANNER CAROUSEL */
.carousel {
    width: 100%;
    height: 42rem;
}
.imgbanner {
    height: 42rem;
    width: 100%;
    object-fit: none;
}
/* BANNER2 NUESTROS VALORES */
.banner2_titulo {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.banners2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.banners2_titulo-circulo {
    text-align: center;
}
.banners2_titulo-circulo p {
    width: 10rem;
}
.banners2__circulos {
    background: #393AE6;
    background: -moz-radial-gradient(center, #393AE6 0%, #3096F2 47%, #393AE6 100%);
    background: -webkit-radial-gradient(center, #393AE6 0%, #3096F2 47%, #393AE6 100%);
    background: radial-gradient(ellipse at center, #393AE6 0%, #3096F2 47%, #393AE6 100%);
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 9px 27px 0px #000000; 
    box-shadow: 0px 9px 27px 0px #000000;
    margin-bottom: 1.5rem;
}
.banner2__icono {
    height: 5rem;
}
.banner2__icono:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: all .5s;
}
/* BANNER 3 */
.banner3__titulo {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1.5rem;
}
.banner3__cajaimagen {
    height: 10rem;
    border-radius: 1rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
.banner3__cajaimagen:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.imagen1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/ninos.jpg");
}
.imagen2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/emergencia.jpg");
}
.imagen3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/adultosMayores.jpg");
}
.imagen4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/animales.jpg");
}
.imagen5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/discapacidad.jpg");
}
.imagen6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/medioAmbiente.jpg");
}
.imagen7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/talleres.jpg");
}
.imagen8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/rural.jpg");
}
.imagen9 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/construccion.jpg");
}


/* CONTACTO */
.contacto__titulo {
    text-align: center;
}
.contacto__titulo2 {
    margin-left: 2rem;
}
.formulario {
    margin-left: 10%;
    margin-right: 10%;
}
.formulario__nombres {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.mb-6 {
    width: 100%;
}
#mx-auto {
    display: flex;
    justify-content: center;
}


/* ARBOL */
.icono__container {
    position: fixed;
    top: 10%;
    bottom: 0;
    right: 0;
    width: 5;
    z-index: 999;
};

