body {
    background-color: #eceaea;
}
/* BANNER 4 */
.banner4__titulo {
    padding-top: 2rem;
    text-align: center;
    color: white;
    font-size: 2.3rem;
    font-family: 'Francois One', sans-serif;
}
.banner4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.14)), url("/img/arboltree/treefondo.jpg");
    height: 50rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button__donacion {
    background-color: #6D923C;
    padding: 1rem;
    border-radius: 1rem .7rem .7rem 1rem;
    border: none;
    color: #36231f;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all ease-in-out .3s;
    text-decoration: none;
}
.button__donacion:hover {
    background-color: rgba(162, 193, 80, 0.8);
    transition: all ease-in-out .3s;
}
.button__container {
    display: flex;
    justify-content: center;
}

/* BLOQUES */
.bloques {
    background-color: white;
    margin-top: 4rem;
    display: grid;
    margin-bottom: 6rem;
}
.bloque__titulo {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.bloquesleft-right {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.bloques__left {
    grid-column: 1/3;
    margin-left: 2rem;
    margin-right: 1rem;
}
.bloques__right {
    grid-column: 3/6;
    margin-left: 1rem;
    margin-right: 2rem;
    text-align: center;
}
.bloque__img {
    height: 30rem;
    width: 100%;
}
.bloquesleft-right-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.bloque__reverse {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.bloque__left__reverse {
    grid-column: 4/6;
}
.bloque__right__reverse {
    grid-column: 1/4;
    grid-row: 1/2;
}
.bloqueVideo {
    width: 60%;
}
.bloque__left__video {
    grid-column: 1/3;
    margin-left: 2rem;
    margin-right: 1rem;
}
.video {
    width: 100%; 
    height: 100%;
}
.bloqueVideo {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    height: 30rem;
}
.bloque__right__video {
    grid-column: 3/6;
}

.bloque__butonC {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.bloques__buton {
    height: 4rem;
    width: 25%;
    padding: 1rem;
    text-align: center;
    background-color: #6D923C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #36231f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 1px 6px 15px 5px #000000; 
    box-shadow: 1px 6px 15px 5px #000000;
}
.bloques__buton:hover {
    background-color: rgb(226, 226, 0);
    transition: all ease-in-out .1s;
}

/*  FORMULARIO  */
.form__contenedor {
    background-color: #80a7a5;
    padding-bottom: 2rem;
}
.form__titulo {
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}
.form__container1 {
    display: flex;
}
.form__left {
    width: 50%;
}
.form__right {
    width: 50%;
    display: grid;
}
.form__rigth__bot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
}
.form__rigth__r {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}
.placaarbol {
    width: 80%;
    margin-left: 10%;
    height: 25rem;
    border-radius: 1rem;
}
#placaP {
    text-align: center;
}
.form__contenedor__margin {
    margin-left: 5%;
    margin-right:5%;
}
.form__opciones {
    display: flex;
    gap: 5rem;
    margin-left: 10%;
}
.form__button {
    background-color: rgba(142, 205, 202, 0);
    padding: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(142, 205, 202, .8);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: rgb(142, 205, 202);
    text-transform: uppercase;
}
.active {
    background-color: rgba(142, 205, 202, .8);
    color: white;
}
.desactive {
    background-color: rgba(241, 47, 47, 0.8);
    color: white; 
}
.form__opciones2 {
    margin-left: 10%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.form__opciones2_p {
    margin-left: 5rem;
    font-size: 1.3rem;
    color: rgb(105, 31, 31);
}
.precioArbol {
    font-size: 1.3rem;
    color: rgb(105, 31, 31);
    margin-left: 1rem;
}
.form__formatotarjeta {
    margin-left: 10%;
    display: grid;
    padding-bottom: 2rem;
}
.formatoform {
    display: flex;
    font-size: 1.3rem;
    color: rgb(105, 31, 31);
    font-weight: bold;
    gap: 1rem;
}
#opcionDigital {
    margin-left: 10%;
}
.form__inputs {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    gap: 2rem;
    margin-bottom: 2rem;
}
.label__1 {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(105, 31, 31);
}
.form__p {
    height: 1.5rem;
}
.cobroextra {
    font-size: 1.2rem;
    color: yellow;
    margin-bottom: 0;
}

.form__button_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}
#parrafo_regalo {
    color: red;
    font-size: 1.2rem;
}
#button {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: .7rem;
    border-style: none;
    background-color: #6D923C;
    font-weight: bold;
    color: white;
    box-shadow: #57752f 4px 4px 0px;
    transition: 200ms;
}
#button:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #57752f 0px 0px 0px; ;
}

.container_btnEnviarform {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__total {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1100px) {
    .bloqueVideo {
        height: 100%;
    }
    .form__opciones2 {
        display: grid;
        margin-left: 1rem;
    }
    .form__opciones2_p {
        align-items: left;
        margin-top: 1rem;
        margin-left: 0;
    }
    .precioArbol {
        margin: 0;
    }
}
@media (max-width: 850px) {
    .bloquesleft-right {
        grid-template-columns: repeat(5,2fr);
    }
    .bloques__left, .bloques__right {
        grid-column: 1/6;
        margin: 0 1rem;
    }
    .bloque__reverse {
        grid-template-columns: repeat(2,1fr);
    }
    .bloque__left__reverse {
        grid-template-rows: 1/2;
    }
    .bloque__right__reverse {
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .bloqueVideo {
        grid-template-columns: repeat(2,1fr);
    }
    .video {
        height: 20rem;
    }

    .form__opciones {
        display: grid;
        margin: 0;
        gap: 0;
    }
}
@media (max-width: 700px) {
    .bloques__buton {
        width: 50%;
    }
    .form__left, .form__right {
        width: 100%;
    }
    .form__t {
        margin-left: 1rem;
    }
    .label__1 {
        margin-left: 1rem;
    }
    .form-control {
        width: 90%;
        margin-left: 1rem;
    }
    .form__container1 {
        display: grid;
    }
    .form__rigth__r {
        margin-left: 1rem;
    }
    .form__opciones {
        display: flex;
        justify-content: space-evenly;
    }
    .form__opciones2 {
        text-align: center;
        width: auto;
    }
    .form__formatotarjeta {
        display: grid;
        justify-content: space-evenly;
        margin: 0;
    }
    .placaarbol {
        width: 100%;
        margin-left: 0;
        height: 25rem;
        border-radius: 0rem;
    }
    .form__contenedor__margin {
        margin: 0;
    }
    .form__inputs {
        display: grid;
        grid-template-columns: repeat(1, 11fr);
    }
}
