<footer>
  <p>Copyright © 2023 Sas Inc. Todos los derechos reservados.</p>
  <p>
    Nicolas Sanhueza
    <a href="https://www.linkedin.com/in/nicol%C3%A1s-sanhueza-diaz/" target="_blank">
      <img class="icono" src="https://img.icons8.com/color/48/null/linkedin-circled--v1.png"/>
    </p>
  </a>
</footer>