<header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top
        bg-body-tertiary">

        <div class="container-fluid">
          <a class="navbar-brand" href="/#inicio">
            <img src="/img/logo.png" alt="Logo" width="46" height="40"
              class="d-inline-block align-text-top">
          </a>

          <a class="navbar-brand logo" href="/#inicio">Earth Volunteers</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/#inicio">Inicio</a>
              <a class="nav-link" href="/donacion">Donacion</a>
              <a class="nav-link" href="/voluntariado">Voluntariado</a>
              <a class="nav-link open" id="login" href="/login">Login</a>

            </div>
        </div>
    </div>
</header>