<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto v3</title>
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div class="container-fluid">   
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 sticky-top">      
                    <br><br>
                    <span class="span ms-1 d-none d-sm-inline">Menu</span>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="w-100">
                            <a href="/" class="nav-link px-0">
                                <img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/home.png"/>
                                <span class="span d-none d-sm-inline"> Inicio</span>
                            </a>
                        </li>

                        <li class="w-100">
                            <a href="/donacion" class="nav-link px-0">
                                <img src="https://img.icons8.com/material-outlined/30/FFFFFF/donate.png"/>
                                <span class="span d-none d-sm-inline"> Donacion</span>
                            </a>
                        </li>

                        <li class="w-100">
                            <a href="/voluntariado" class="nav-link px-0">
                                <img class="fs-4 bi-bootstrap" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/volunteering.png"/> 
                                <span class="span d-none d-sm-inline"> Voluntariado</span>
                            </a>
                        </li>

                        <br><br><br>
                        <span class="span ms-1 d-none d-sm-inline">Administracion</span>
                        </li>
                        <li class="w-100">
                            <a href="/adminTvoluntariados" class="nav-link px-0">
                                <img src="https://img.icons8.com/external-outline-juicy-fish/30/FFFFFF/external-volunteering-humanitarian-outline-outline-juicy-fish.png"/>
                                <span class="span d-none d-sm-inline"> Voluntariados</span>
                            </a>
                        </li>

                        <li class="w-100">
                            <a href="/adminTusuarios" class="nav-link px-0">
                                <img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/conference-call--v1.png"/> 
                                <span class="span d-none d-sm-inline"> Usuarios</span>
                            </a>
                        </li>
                        <li class="w-100">
                            <a href="/adminTadmin" class="nav-link px-0">
                                <img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/admin-settings-male.png"/>
                                <span class="span d-none d-sm-inline"> Admin</span></a>
                        </li>
                    </ul>

                    <div class="fixed-bottom">
                        <div class="dropdown pb-4">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">Admin</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                <li><a class="dropdown-item" href="#">Configuracion</a></li>
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                {{> @partial-block}}
                {{> footer}}
            </div>
        </div>
    </div>


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="/js/alerts.js"></script>

</body>
</html>