<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto v3</title>
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/estadisticas.css">
    <link rel="stylesheet" href="/css/perfil.css">
</head>

<body>
    <div class="container-fluid">   
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                {{> sidebarAdm}}
            </div>
            <div class="col py-3">
                {{> @partial-block}}
                {{> footer}}
            </div>
        </div>
    </div>


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/alerts.js"></script>

</body>
</html>