{{#> plantillaAdmin}}
<div class="right_col" role="main" style="min-height: 95%;">
    <div class="" id="pagina_principal">
        <div class="">
            <div class="row top_tiles">
                <div class="col-lg-3 col-sm-6">
                    <div class="tile-stats">
                        <div class="count">174</div>
                        <h3>Usuarios <br>de Earth Volunteers</h3>

                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-comments-o"></i></div>
                        <div class="count">33</div>
                        <h3>Voluntariados <br>Activos</h3>

                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-sm-6">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                        <div class="count">7</div>
                        <h3>Falta por pensar <br> &nbsp; </h3>

                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-sm-6 ">
                    <div class="tile-stats">
                        <div class="count">59</div>
                        <h3>Falta por pensar <br> &nbsp; </h3>

                    </div>
                </div>
            </div>

            <div class="row">


                <div class=" col-md-12 col-xs-12 col-lg-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Top Areas</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <ul class="list-unstyled top_profiles scroll-view">
                                <li class="media event">
                                    <div class="media-body">
                                        <h6 class="negrita">AQUI DESPUES SE HACE UN EACH</h6>
                                        <p><strong>31 </strong> Y SE RELLENARA SOLITO </p>
                                        <p> Hola soy una prueba</p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <div class="media-body">
                                        <h6 class="negrita">SuperUsuario</h6>
                                        <p><strong>SIONOOO </strong> Tickets Respondidos </p>
                                        <p> Hola soy una prueba</p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <div class="media-body">
                                        <h6 class="negrita">SuperUsuario</h6>
                                        <p><strong>31 </strong> Tickets Respondidos </p>
                                        <p> Hola soy una prueba</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{/plantillaAdmin}}