{{#> plantilla}}
<!--  DONA UN ARBOL  -->
<div class="fondoDonacion">
    <br id="Donacion">
    <div class="banner4">
        <h2 class="banner4__titulo">Planta un Árbol y reforestemos
                    nuestros bosques nativos</h2>

        <div class="banner4__containers">
            <div class="banner4__cajaimagen arrayan">
            </div>
        </div>
        <br><br>

        <div class="button__container">
            <a href="#formularios" button class="button__donacion">Comienza
                a plantar</a>
        </div>
    </div>

    <div class="bloque1 bloques">
        <h3 class="bloque__titulo"> ¿Por que plantar un árbol? </h3>

        <div class="bloquesleft-right">
            <div class="bloques__left">
                <div class="contenedor__p">
                    <p>Integer laoreet purus ut malesuada scelerisque.
                        Aenean ultrices dui ut quam accumsan ultrices.
                        Donec
                        aliquam laoreet elit non vulputate. Suspendisse
                        sodales consequat massa Aliquam at elit ex.
                        Vivamus
                        dignissim ligula felis, eu pretium lacus ornare
                        cursus. Aliquam convallis sapien at dui
                        interdum, a
                        porta erat interdum. Donec molestie eu libero
                        nec placerat.</p>
                    <p>Pellentesque habitant morbi tristique senectus et
                        netus et malesuada fames ac turpis egestas.
                        Nullam
                    quam lacus, consequat imperdiet nisi eget,
                        tempus porta tortor. Aliquam at elit ex. Vivamus
                        dignissim ligula felis, eu pretium lacus ornare
                        cursus. Aliquam convallis sapien at dui
                        interdum, a
                        porta erat interdum. Donec molestie eu libero
                        nec placerat.</p>
                </div>
            </div>

            <div class="bloques__right">
                <img class="bloque__img" src="img/arboltree/planta.png" alt="No se ha podido cargar la imagen.">
            </div>
        </div>

            <div class=" bloque__butonC">
                <a href="#formularios" class="bloques__buton">¡Vamos a plantar un árbol!</a>
            </div>
    </div>


    <div class="bloque2 bloques">
        <h3 class="bloque__titulo"> Regala un árbol </h3>
        <div class="bloque__reverse">
            <div class="bloques__left bloque__left__reverse">
                <div class="contenedor__p">
                    <p>Pellentesque habitant morbi tristique senectus et
                        netus et malesuada fames ac turpis egestas. Nullam
                        quam lacus, consequat imperdiet nisi eget, Aliquam
                        at elit ex. Vivamus dignissim ligula felis, eu
                        pretium lacus ornare cursus. Aliquam convallis
                        sapien at dui interdum, a porta erat interdum. Donec
                        molestie eu libero nec placerat. tempus porta tortor
                        Pellentesque habitant morbi tristique senectus
                        et netus et malesuada fames ac turpis egestas.
                        Nullam quam lacus, consequat imperdiet nisi eget,
                        tempus porta tortor. Aliquam at elit ex. Vivamus
                        dignissim ligula felis, eu pretium lacus ornare
                        cursus. Aliquam convallis sapien at dui interdum, a
                        porta erat interdum. Donec molestie eu libero
                        nec placerat..</p>
                </div>
            </div>
            <div class="bloques__right bloque__right__reverse">
                <img class="bloque__img" src="img/arboltree/regaloArbol.jpg" alt="No se ha podido cargar la imagen.">
            </div>
        </div>
        
        <div class=" bloque__butonC">
            <a href="#formularios" class="bloques__buton">¡Quiero regalar un árbol!</a>
        </div>
    </div>

    <div class="bloque3 bloques">
        <h3 class="bloque__titulo"> Ven a hacer voluntariado</h3>
        <div class="bloquesleft-right">
            <div class="bloques__left">
                <div class="contenedor__p">
                    <p>Pellentesque habitant morbi tristique senectus et
                        netus et malesuada fames ac turpis egestas. Nullam
                        quam lacus, consequat imperdiet nisi eget, Aliquam
                        at elit ex. Vivamus dignissim ligula felis, eu
                        pretium lacus ornare cursus. Aliquam convallis
                        sapien at dui interdum, a porta erat interdum. Donec
                        molestie eu libero nec placerat. tempus porta tortor
                        Pellentesque habitant morbi tristique senectus
                        et netus et malesuada fames ac turpis egestas.
                        Nullam quam lacus, consequat imperdiet nisi eget,
                        tempus porta tortor. Aliquam at elit ex. Vivamus
                        dignissim ligula felis, eu pretium lacus ornare
                        cursus. Aliquam convallis sapien at dui interdum, a
                        porta erat interdum. Donec molestie eu libero
                        nec placerat..</p>
                </div>
            </div>
            <div class="bloques__right">
                <img class="bloque__img"
                    src="img/arboltree/voluntariado.jpg" alt="No se ha
                    podido cargar la imagen.">
            </div>
        </div>

        <div class=" bloque__butonC">
            <a href="/voluntariado" class="bloques__buton">¡Quiero hacer voluntariado!</a>
        </div>
    </div>

    <div class="bloque4 bloques">
        <h3 class="bloque__titulo"> Técnicas de plantacion de árbol</h3>
        
        <div class="bloqueVideo">
             <div class="bloque__left__video">
                <iframe class="video"
                    src="https://www.youtube.com/embed/VIH2B4Fvuow"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture; web-share"
                    alt="No se ha podido cargar el video."></iframe>
            </div>

            <div class="bloque__right__video">
                <div class="contenedor__p">
                    <p>Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas. Nullam
                        quam lacus, consequat imperdiet nisi eget, tempus porta
                        tortor. Aliquam at elit ex. Vivamus
                        dignissim ligula felis, eu pretium lacus ornare cursus.
                        Aliquam convallis sapien at dui interdum, a
                        porta erat interdum. Donec molestie eu libero nec
                        placerat.</p>
                    <p>Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas.
                        Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas. Nullam
                        quam lacus, consequat imperdiet nisi eget, tempus porta
                        tortor. Donec molestie eu libero nec
                        placerat. Nullam quam lacus, consequat imperdiet
                        nisi eget, tempus porta tortor. Aliquam at elit ex.
                        Vivamus dignissim ligula felis, eu pretium lacus
                        ornare cursus. Aliquam convallis sapien at dui interdum,
                        a porta erat interdum. Donec molestie eu
                        libero nec placerat.</p>
                </div>
            </div>
        </div>
        
        <div class=" bloque__butonC">
            <a href="#formularios" class="bloques__buton">¡Vamos a plantar un árbol!</a>
        </div>
    </div>
    
           <!-- FORMULARIO DONAR ARBOLES-->
    <br id="formularios">
    <form id="form" class="form__contenedor">
        <div class="form__contenedor__margin">
            <h2 class="form__titulo"> Es hora de hacer tu aporte</h2>
            <div class="form__container1">
                <div class="form__left">
                    <div>
                        <h3 class="form__t"> ¿Para quien es el árbol? *</h3>
                        <div class="form__opciones">
                            <div class="form__button_container">
                                <button id="button__parami" class="form__button">Para mí</button>
                            </div>

                            <div class="form__button_container">
                                <button id="button__regalo" class="form__button">Para regalar</button>
                                <p id="parrafo_regalo">*El formato para regalar aún no esta habilitado</p>
                            </div>
                        </div>
                    </div>

                        <h3 class="form__t"> Formato de Tarjeta *</h3>
                        <div class="form__formatotarjeta">
                            <div class="formatoform">
                                <input type="radio" id="opcionFisica"
                                    name="grupoFormato">Física
                                <input type="radio" id="opcionDigital"
                                    name="grupoFormato">Digital
                            </div>
                            <p id="formatoFisica" class="cobroextra">Se
                                adicionarán $2000 por costos de envío.</p>
                        </div>

                        <!--  PARA MI-->
                        <div id="form__parami" class="form__parami">
                            <h3 class="form__t"> ¿Número de Arboles que desea
                                plantar?</h3>

                            <div class="form__opciones2">
                                <div class="inputArbol">
                                    <input style="width: 5rem;"
                                        id="cantidadArboles" type="number"
                                        value="1" min="1"
                                        onchange="precioTotal(),
                                        precioDonacion()">
                                </div>
                                <p class="form__opciones2_p"> Valor árboles a
                                    donar:</p> <p class="precioArbol"
                                    id="precioArbol">$ 8000</p>
                            </div>
                        </div>
                    </div>

                    <div class="form__right">
                        <img class="placaarbol"
                            src="/img/arboltree/placaarbol.png">
                        <div class="form__rigth__bot">

                            <div class="form__rigth__r">
                                <input id="placa" type="radio" name="placa">
                                <p>Si quiero una placa</p>
                            </div>

                            <div class="form__rigth__r">
                                <input id="noplaca" type="radio" name="placa">
                                <p>No quiero una placa</p>
                            </div>
                        </div>

                        <p id="placaP" class="cobroextra"> Se adicionarán $2500
                            por la placa.</p>
                    </div>
                </div>

                <h3 class="form__t">¿Quién realiza la donación?</h3>
                <div class="form__inputs">

                    <div>
                        <label class="label__1" for="nombreInput"
                            class="form-label">Nombre *</label>
                        <input type="name" class="form-control
                            formulario__nombre" id="nombreInput" name="name"
                            placeholder="Nombre">
                    </div>

                    <div>
                        <label class="label__1" for="nombreInput"
                            class="form-label">Apellidos *</label>
                        <input type="name" class="form-control
                            formulario__nombre" id="apellidoInput"
                            name="apellidos" placeholder="Apellido apellido">
                    </div>

                    <div>
                        <label class="label__1" for="nombreInput"
                            class="form-label">E-mail *</label>
                        <input type="email" class="form-control
                            formulario__nombre" id="emailInput" name="email"
                            placeholder="correo@correo.com">
                    </div>

                    <div>
                        <label class="label__1" for="nombreInput"
                            class="form-label">Rut *</label>
                        <input type="name" class="form-control
                            formulario__nombre" id="rutInput" name="rut"
                            placeholder="12345678-9">
                    </div>

                    <div>
                        <label class="label__1" for="nombreInput"
                            class="form-label">Teléfono *</label>
                        <input type="tel" class="form-control
                            formulario__nombre" id="telInput" name="tel"
                            placeholder="912345678">
                    </div>

                    <div>
                        <label class="label__1" for="nombreInput"
                            class="form-label">Dirección *</label>
                        <input type="name" class="form-control
                            formulario__nombre" id="direccionInput" name="dir"
                            placeholder="Dirección">
                    </div>

                    <div>
                        <label class="label__1" for="nombreInput"
                            class="form-label">Región *</label>
                        <input type="name" class="form-control
                            formulario__nombre" id="regionInput" name="region"
                            placeholder="Región">
                    </div>

                    <div>
                        <label class="label__1" for="nombreInput"
                            class="form-label">Comuna *</label>
                        <input type="name" class="form-control
                            formulario__nombre" id="comunaInput" name="comuna"
                            placeholder="Comuna">
                    </div>

                    <div>
                        <label class="label__1 label__textarea">Mensaje que
                            aparecera en la Tarjeta *</label>
                        <textarea class="form-control"
                            id="mensajeInputT" name="mensajeInputT"
                            rows="3" placeholder="Mensaje que aparecera en la placa o tarjeta"></textarea>
                    </div>

                    <div class="container__total">
                        <h4> Total a donar: </h4> <h4 id="totalDonacion"
                            name="totalDonacion">$ 8000</h4>
                    </div>
                </div>

                <div class="container_btnEnviarform">
                    <button type="submit" id="button" value="Enviar Donacion">Enviar
                        Donación</button>
                </div>

        </div>
    </form>
</div>

<script src="/js/donacion.js"></script>
{{/plantilla}}