{{#> plantilla}}
<br><br>
<div class="contenedorLogin">
    <div class="contenedorLog">
        <h3 class="titleForm">Login</h3>
        <form class="formLogin" action="iniciarSesion" method="post">
            <input class="input-Login" type="text" id="email" placeholder="Email" name="email">
            <input class="input-Login" type="password" id="pass" placeholder="Password" name="pass">
            <button type="submit">Login</button>
        </form>

        <p class="ppregunta">¿No tienes cuenta?
            <a class="negrita" href="/signup">Registrate aquí.</a>
        </p>
    </div>

</div>
{{/plantilla}}