{{#> plantillaUsuario}}
    <br><br>
    <div class="containerPerfil">
        <h3>Perfil Usuario</h3>
        {{#each datosPerfil}}
        <h4>Nombre</h4>
        {{nombre}}
        <h4>Email</h4>
        {{Email}}
        <h4>Rol</h4>
        {{idrol}}
        {{/each}}
    </div>
{{/plantillaUsuario}}