{{#> plantilla}}
<br><br>
        <div class="contenedorSignUp">
            <h3>Registrarse</h3>
            <form class="formSignUp" action="/register" method="POST">
                <input class="input-SignUp" type="text" id="nombre" placeholder="Nombre" name="nombre">
                <input class="input-SignUp" type="text" id="apellidos" placeholder="Apellidos" name="apellidos">
                <input class="input-SignUp" type="email" id="email" placeholder="Email" name="email">
                <input class="input-SignUp" type="text" id="usuario" placeholder="Usuario" name="usuario">
                <input class="input-SignUp" type="password" id="pass" placeholder="Password" name="pass">
                <button type="submit" value="enviar">Registrarse</button>
            </form>

            <p>¿Tienes una cuenta?
                <a href="/login">Ingresa aquí.</a>
            </p>
    </div>
{{/plantilla}}