{{#> plantilla}}
<br><br>
<div class="contenedoresSignUp">
    <div class="contenedorSignUp signUpR">
        <div class="contenedorForm">
            <h3 class="titleForm">Registrarse como Voluntario</h3>
            <form class="formSignUp" action="registerVoluntario" method="post">
                <input class="input-SignUp" type="text" id="nombreV" placeholder="Nombre" name="nombre">
                <input class="input-SignUp" type="text" id="apellidosV" placeholder="Apellidos" name="apellidos">
                <input class="input-SignUp" type="email" id="emailV" placeholder="Email" name="email">
                <input class="input-SignUp" type="password" id="passV" placeholder="Password" name="pass">
                <button type="submit" value="enviar">Registrarse</button>
            </form>

            <div class="ppregunta">
                <p>¿Tienes una cuenta?
                    <a href="/login" class="negrita">Ingresa aquí.</a>
                </p>
            </div>
        </div>
    </div>

    <div class="contenedorSignUp signUpL">
        <div class="contenedorForm">
            <h3 class="titleForm">Registrarse cómo Anfitrión</h3>
            <form class="formSignUp" action="registerAnfitrion" method="post">
                <input class="input-SignUp" type="text" id="nombreA" placeholder="Nombre" name="nombre">
                <input class="input-SignUp" type="text" id="apellidosA" placeholder="Apellidos" name="apellidos">
                <input class="input-SignUp" type="email" id="emailA" placeholder="Email" name="email">
                <input class="input-SignUp" type="password" id="passA" placeholder="Password" name="pass">
                <button type="submit" value="enviar">Registrarse</button>
            </form>

            <div class="ppregunta">
                <p>¿Tienes una cuenta?
                    <a href="/login" class="negrita">Ingresa aquí.</a>
                </p>
            </div>
        </div>
    </div>
</div>
{{/plantilla}}