.nameTable {
    text-align: center;
    margin-top: 1rem;
}
.table-responsive {
    text-align: center;
}
.fixed-bottom {
    padding-left: .9rem;
}
.span {
    color: white;
}
.span:hover {
    color: gray;
}
.nav-link {
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 1rem;
  }
  
  .icono {
    height: 1.5rem;
  }