.nameTable {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.table, .table-responsive {
    background-color: white;
    border-radius: 1rem;
}
.table-responsive {
    text-align: center;
}
.fixed-bottom {
    padding-left: .9rem;
}
.span {
    color: white;
}
.span:hover {
    color: gray;
}
.nav-link {
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.AlertConfirm {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.buttonREST {
    background-color: transparent;
    border: none;
}
.icons {
    cursor:pointer;
}
.tableID {
    display: flex;
    align-items: center;
}
.negrita {
    font-weight: bold;
    padding-bottom: 0;
}
.iconAdd {
    text-align: center;
}

.formAdd {
    display: grid;
    grid-template-columns: repeat(2,4fr);
}
.modal-content {
    width: 110%;
}
.labelcenter {
    grid-column: 1/3;
    text-align: center;
}
.inputRolUser {
    margin-top: .5rem;
    grid-column: 1/3;
    display: flex;
    justify-content: space-evenly;
}
.inputDesc {
    grid-column: 1/3;
    text-align: center;
}
#descripcionE {
    width: 100%;
    height: 5rem;
}
/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 1rem;
  }
.modal-footer {
    grid-column: 1/3;
    margin-right: 2rem;
    margin-top: 1rem;
}
  .icono {
    height: 1.5rem;
  }

.btn-primary {
    background-color: #2A3F54;
}
.btn-secondary {
    background-color: #5C636A;
}
.btn-secondary:hover {
    background-color: #73879C;
}
.inputCantidad {
    grid-column: 1/3;
    text-align: center;
}
.divinputfile {
    grid-column: 1/3;
    text-align: center;
    margin-top: 1rem;
}